In [13]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import random

In [5]:
list_rolls = []
for roll in range(100):
    list_rolls.append(random.randint(1,6))

In [19]:
hundred = pd.DataFrame(list_rolls).reset_index()

In [20]:
hundred = hundred.rename(columns={hundred.columns[0] : 'roll', hundred.columns[1]: 'value'})

In [21]:
hundred.groupby('value').count()

       roll
value
1        12
2        17
3        14
4        22
5        12
6        23

In [135]:
hundred.to_csv('roll_the_dice_hundred.csv')

In [136]:
list_rolls_1000 = []
for roll in range(1000):
    list_rolls_1000.append(random.randint(1,6))

In [ ]:
list_rolls_1000 = pd.DataFrame(list_rolls_1000).reset_index()

In [23]:
thousand = pd.DataFrame(list_rolls_1000).reset_index()
thousand = thousand.rename(columns={thousand.columns[0] : 'roll', thousand.columns[1]: 'value'})
thousand.groupby('value').count()

       roll
value
1       175
2       167
3       175
4       168
5       149
6       166

In [156]:
thousand.to_csv('roll_the_dice_thousand.csv')

In [26]:
ages = pd.Series(['0-4',
'5-9',
'10-14',
'15-19',
'20-24',
'25-29',
'30-34',
'35-39',
'40-44',
'45-49',
'50-54',
'55-59',
'60-64',
'65-69',
'70-74',
'75-79',
'80-84',
'85-89',
'90-94',
'>95'])

In [32]:
values = pd.Series([68402,69309,67575,65953,79062,106489,122353,134575,133557,118332,113041,102949,90465,86264,77501,59962,59453,41136,19016,5415])

In [39]:
ages_df = pd.DataFrame(data = {'age': ages, 'value': values})

In [43]:
ages_df

      age   value
0     0-4   68402
1     5-9   69309
2   10-14   67575
3   15-19   65953
4   20-24   79062
5   25-29  106489
6   30-34  122353
7   35-39  134575
8   40-44  133557
9   45-49  118332
10  50-54  113041
11  55-59  102949
12  60-64   90465
13  65-69   86264
14  70-74   77501
15  75-79   59962
16  80-84   59453
17  85-89   41136
18  90-94   19016
19    >95    5415

In [34]:
ages_list = []
for roll in range(100000):
    ages_list.append(random.randint(1,100))

In [138]:
import numpy as np
mu, sigma = 37, 13
sim = abs(np.random.normal(mu, sigma, 1000))

In [117]:
obs_ages = pd.DataFrame(data={'observation':sim.round()})

In [133]:
obs_ages.to_csv('ages_population.csv', index=False)

In [139]:
mu, sigma = 27, 3
sim2 = abs(np.random.normal(mu, sigma, 1000))

In [140]:
obs_ages2 = pd.DataFrame(data={'observation':sim2.round()})

In [141]:
obs_ages2.to_csv('ages_population2.csv', index=False)

In [144]:
mu, sigma = 37, 13
sim3 = abs(np.random.normal(mu, sigma, 850))

In [145]:
mu, sigma = 68, 3
sim4 = abs(np.random.normal(mu, sigma, 150))

In [147]:
sim5 = pd.Series(sim3).append(pd.Series(sim4))

In [148]:
obs_ages3 = pd.DataFrame(data={'observation':sim5.round()})

In [151]:
obs_ages3 = obs_ages3.sample(frac=1).reset_index(drop=True)

In [153]:
obs_ages3.to_csv('ages_population3.csv', index=False)