https://www.kaggle.com/cyanist/data-cleaning/data


## Context
This dataset contains over 80,000 reports of UFO sightings over the last century.

## Content
There are two versions of this dataset: scrubbed and complete. The complete data includes entries where the location of the sighting was not found or blank (0.8146%) or have an erroneous or blank time (8.0237%). Since the reports date back to the 20th century, some older data might be obscured. Data contains city, state, time, description, and duration of each sighting.

## Inspiration
* What areas of the country are most likely to have UFO sightings?
* Are there any trends in UFO sightings over time? Do they tend to be clustered or seasonal?
* Do clusters of UFO sightings correlate with landmarks, such as airports or government research centers?
* What are the most common UFO descriptions?

In [21]:
import pandas as pd

In [23]:
ufos = pd.read_csv('scrubbed.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [24]:
ufos = pd.read_csv('scrubbed.csv', low_memory=False)

In [72]:
ufos.head()

,datetime,city,state,country,shape,duration_seconds,duration_hours_min),comments,date_posted,latitude,longitude
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,2004-04-27,29.883056,-97.941111
1,1949-10-10 21:00:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.384210,-98.581082
2,1955-10-10 17:00:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.200000,-2.916667
3,1956-10-10 21:00:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17,28.978333,-96.645833
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.418056,-157.803611

## First, let's rename the columns

In [69]:
ufos.columns

Index(['datetime', 'city', 'state', 'country', 'shape', 'duration (seconds)',
       'duration (hours/min)', 'comments', 'date posted', 'latitude',
       'longitude '],
      dtype='object')

In [73]:
ufos = ufos.rename(columns = {'duration (seconds)': 'duration_seconds', 'duration (hours/min)': 'duration_hours_min',
                      'date posted': 'date_posted'})

In [74]:
ufos.columns

Index(['datetime', 'city', 'state', 'country', 'shape', 'duration_seconds',
       'duration_hours_min)', 'comments', 'date_posted', 'latitude',
       'longitude '],
      dtype='object')

## Check types

In [26]:
ufos.dtypes

datetime                 object
city                     object
state                    object
country                  object
shape                    object
duration (seconds)       object
duration (hours/min)     object
comments                 object
date posted              object
latitude                 object
longitude               float64
dtype: object

In [11]:
ufos.columns

Index(['datetime', 'city', 'state', 'country', 'shape', 'duration (seconds)',
       'duration (hours/min)', 'comments', 'date posted', 'latitude',
       'longitude '],
      dtype='object')

In [99]:
ufos.astype({'datetime': 'datetime64[ns]', 'date_posted': 'datetime64[ns]', 'latitude': float, 'duration_seconds': float })

ValueError: could not convert string to float: '2`'

We have problems with datetime, duration_seconds and latitude

Let's change only the dates and let's look for that data

In [38]:
ufos = ufos.astype({'date_posted': 'datetime64[ns]' })

In [39]:
ufos.dtypes

datetime                        object
city                            object
state                           object
country                         object
shape                           object
duration (seconds)              object
duration (hours/min)            object
comments                        object
date posted             datetime64[ns]
latitude                        object
longitude                      float64
dtype: object

## datetime

In [41]:
ufos.astype({'datetime': 'datetime64[ns]'})

ValueError: hour must be in 0..23

In [45]:
ufos.datetime = ufos.datetime.astype(str)

In [53]:
ufos['bad_hour'] = ufos.datetime.apply(lambda x: '24:' in x)

In [54]:
ufos[ufos['bad_hour'] != False]

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,bad_hour
388,10/11/2006 24:00,rome,ny,us,oval,120,a min or two,I was walking from the garage to the house&#44...,2007-02-01,43.2127778,-75.456111,True
693,10/1/2001 24:00,chulucanas-piura la vieja (peru),NaN,NaN,other,6312000,2 years,go to: http://www.24horas.com.pe/data/videos/...,2003-03-04,-5.129547,-80.120569,True
962,10/1/2012 24:00,novi,mi,us,triangle,300,5 minutes,V shaped and 8 big and very brite lights&#44mo...,2012-10-30,42.4805556,-83.475556,True
1067,10/12/2003 24:00,salatiga (indonesia),NaN,NaN,disk,22,22 seconds,UFO in Salatiga&#44Indonesia,2003-10-31,-7.33683,110.498817,True
1221,10/12/2013 24:00,cincinnati,oh,us,fireball,300,3-5 minutes,A bright orange light split into four&#44 did ...,2013-10-14,39.1619444,-84.456944,True
1222,10/12/2013 24:00,orangevale (sacramento),ca,us,sphere,60,1 minute,swarm of 8 orange orbs stop and dispers in man...,2013-10-23,38.6786111,-121.224722,True
1317,10/13/2004 24:00,white hall,ar,us,triangle,300,5 minutes,ufo spoted near chemical weapons disposal base .,2004-10-27,34.2738889,-92.090833,True
1359,10/13/2007 24:00,hudson,wi,us,sphere,180,3 minutes,6 Balls of Light Swooping Behind Chem-Clouds 9...,2007-11-28,44.9747222,-92.756667,True
1445,10/13/2012 24:00,kingston,pa,us,light,300,5 minutes,There were orange lights in the sky. The ones ...,2012-10-30,41.2616667,-75.897222,True
1663,10/14/2011 24:00,cibecue (west of),az,us,light,300,5 minutes,Bright yellow light moving slowly thru skies o...,2011-10-25,34.0447222,-110.484722,True
1709,10/15/1952 24:00,edmonton (southwest of) (canada),ab,ca,cylinder,120,approx. 2 min.,Good evening folks---What I am about to discri...,2004-01-17,53.55,-113.500000,True
1754,10/15/1971 24:00,lago vista (near austin),tx,us,formation,1800,30 minutes,went outside &amp; in night sky looking east{e...,1999-02-16,30.4600000,-97.988056,True
1797,10/15/1978 24:00,greenwich,ct,us,circle,900,15 minuts,((HOAX??)) had no control on tv. ash tray kil...,2009-12-12,41.0263889,-73.628889,True
1809,10/15/1980 24:00,boonville,ca,us,sphere,300,5 minutes,Boonville&#44 Ca. 10/1980: just after dark&#...,2001-02-18,39.0091667,-123.365000,True
1824,10/15/1983 24:00,california valley,ca,us,disk,600,5-10 min,Sighting&#44 Hynek class CE_II California vall...,2012-04-18,35.3200000,-120.005833,True
1949,10/15/1997 24:00,naalehu,hi,us,sphere,300,5 min.,It looked like a natural object (for a meteor)...,2000-08-25,19.0638889,-155.585833,True
1997,10/15/1999 24:00,sheffield (uk/england),NaN,gb,triangle,120,only a few minutes,THE UFO,2001-04-01,53.366667,-1.500000,True
1998,10/15/1999 24:00,weed/yreka (near),ca,NaN,fireball,180,< 3 min,Fall 1999 sighting of green and gold fireballs...,2004-01-31,41.858898,-122.553076,True
2065,10/15/2002 24:00,los angeles,ca,us,triangle,30,30 seconds,Laurel canyon TRIANGLE craft &#3902,2005-05-24,34.0522222,-118.242778,True
2146,10/15/2005 24:00,spanaway,wa,us,oval,1800,1:30 min,cloud inhaler,2006-05-15,47.1041667,-122.433333,True
2193,10/15/2008 24:00,hull (uk/england),NaN,gb,disk,420,7 mins,2 orangey red discs similar to other reports f...,2009-03-19,53.716667,-0.333333,True
2298,10/16/1998 24:00,ronan/polson (lake county),mt,NaN,disk,10800,3 hours,Two large craft stationery @ 20000 feet above ...,1998-11-19,47.692526,-114.165781,True
2369,10/16/2005 24:00,ventura,ca,us,oval,2400,40 mins.,It was Saturday evening October 16&#44 2005. I...,2005-11-03,34.2783333,-119.292222,True
2682,10/17/2013 24:00,chilliwack (canada),bc,ca,changing,120,2 minutes,New Information in order to make sense of sigh...,2013-10-23,49.166667,-121.950000,True
3122,10/20/1989 24:00,west palm beach,fl,us,cylinder,180,3 min,After reading the 1966 acount of Jack brown in...,2008-03-31,26.7052778,-80.036667,True
3184,10/20/2002 24:00,albany (maybe new york),ny,us,cigar,2,seconds,I am passing this on from my friend&#44 as I d...,2002-10-28,42.6525000,-73.756667,True
3185,10/20/2002 24:00,raton/pueblo (between&#44 enroute),co,NaN,light,37800,1 1/2hrs,2Bright star-like objects follow me for over 1...,2002-10-28,37.939968,-104.819887,True
3543,10/21/2011 24:00,oakland,ca,us,sphere,2,seconds,well i was just outside looking at regular air...,2011-10-25,37.8044444,-122.269722,True
3596,10/2/1994 24:00,bingen,wa,us,fireball,900,15minutes to an hour,I was car camping with some friends at Bingen ...,1999-04-02,45.7150000,-121.463333,True
3621,10/2/2000 24:00,san antonio,tx,us,light,900,10-15 min,three bright large lights in sky--loose format...,2000-12-02,29.4238889,-98.493333,True
...,...,...,...,...,...,...,...,...,...,...,...,...
75972,9/19/2012 24:00,whitehall,ny,us,unknown,50,1:50 seconds,Strange disappearing planes,2014-05-02,43.5555556,-73.404167,True
76151,9/20/2006 24:00,white city,or,us,cigar,120,1-2 min.,white light near bridge in white city&#44 oregon,2006-10-30,42.4375000,-122.857778,True
76277,9/21/1956 24:00,greenwich,ct,us,light,1290,21:30,Strange movements amoung the stars,2008-08-12,41.0263889,-73.628889,True
76439,9/21/2009 24:00,havant (uk/england),NaN,gb,teardrop,600,10 min,strange teardrop flame craft,2009-12-12,50.85,-0.983333,True
76601,9/2/2002 24:00,chicago,il,us,NaN,600,ten minutes,UFO observation and alien visit,2005-09-02,41.8500000,-87.650000,True
76642,9/2/2005 24:00,lisbon,oh,us,cigar,180,3 minutes,2 UFO&#39s 1plane and a military jet fighter t...,2005-09-15,40.7719444,-80.768333,True
76864,9/22/2001 24:00,mosj&oslash;en (norway),NaN,NaN,NaN,120,2 minutes,Press reports in Norway of UFO sighting in the...,2001-10-12,65.836924,13.193401,True
76949,9/22/2006 24:00,bay city,tx,us,triangle,1500,25 min,UFO SIGHTED AT MATAGORDA TX,2008-02-14,28.9825000,-95.969167,True
77018,9/22/2011 24:00,mulino,or,us,circle,180,3 min,circle/ red/orange differnt color lights spun,2011-10-10,45.2216667,-122.580833,True
77141,9/23/1998 24:00,adrian/jackson (between),mi,NaN,fireball,2,2 seconds,Looked like a meterite except the color and ta...,1998-09-26,41.843386,-84.016742,True
77142,9/23/1998 24:00,deerhorn valley/jamul,ca,NaN,light,5,5seconds+,@905pm I was looking So. at sky for shooting s...,1998-09-26,32.676217,-116.724798,True
77143,9/23/1998 24:00,san fernando valley,ca,NaN,other,3,3 seconds,I was driving north on the Ventura Freeway(101...,1998-09-26,34.182578,-118.439676,True
77336,9/24/1995 24:00,maple valley,wa,us,NaN,45,45 sec.,Woman witnesses a &quot;ball&#44 a bright ligh...,1999-11-02,47.4066667,-122.037500,True
77529,9/25/1998 24:00,marysville,oh,us,disk,10,10sec&#39s.,red/orange in color&#44 hovered for about 5 se...,1998-09-26,40.2363889,-83.367222,True
77749,9/26/1998 24:00,bishop/benton,ca,NaN,fireball,7200,1-2hours,resident of Bishop driving past old road saw l...,1998-09-26,37.720811,-118.590629,True
77807,9/26/2004 24:00,hartland,mi,us,light,3600,1 hour or more,Very bright lighted orbs&#44 NOT stars hovered...,2004-09-29,42.6566667,-83.753056,True
77942,9/26/2013 24:00,franksville,wi,us,fireball,180,3 minutes,My neighbor drove in the yard and I stepped ou...,2014-01-24,42.7600000,-87.913333,True
77959,9/27/1998 24:00,redmond,wa,us,circle,7,6 - 7 seconds,I was looking eastward and saw a bright yellow...,1998-11-01,47.6741667,-122.120278,True
78125,9/28/1973 24:00,strongsville,oh,us,other,600,10 minutes?,A gray metal bell shaped object&#44 half as ta...,2004-04-09,41.3144444,-81.835833,True
78453,9/29/2006 24:00,spirit lake,ia,us,light,5,5 sec,High altitude orange light moving from zenith ...,2006-10-30,43.4222222,-95.101944,True
78480,9/29/2008 24:00,calgary (canada),ab,ca,light,600,10 min,lights over calgary,2008-10-31,51.083333,-114.083333,True
78665,9/30/2003 24:00,texas (east; above),tx,NaN,cylinder,600,10 minutes,Giant Silver Cylinders Falling in East Texas sky.,2006-10-30,31.968599,-99.901813,True
79091,9/4/2002 24:00,brooksville,fl,us,sphere,2100,35min,we got photos,2002-09-06,28.5550000,-82.388056,True
79124,9/4/2004 24:00,kalispell,mt,us,triangle,120,2 minutes,Triangle Craft ((NUFORC Note: NOSS satellite...,2004-09-29,48.1958333,-114.311944,True
79125,9/4/2004 24:00,pyramid lake,nv,NaN,light,10800,03:am-6:am,Sept 4&#44 2004 sighting of a light over Pyram...,2004-09-09,40.012934,-119.557168,True
79136,9/4/2005 24:00,boonville,nc,us,cigar,10800,3+ hours,Unusual activity in our small community&#44 cr...,2013-09-09,36.2325000,-80.708333,True
79137,9/4/2005 24:00,redondo beach,ca,us,triangle,300,5 minutes,Triangulat UFO seen over Redondo Beach&#44 Cal...,2005-12-16,33.8491667,-118.387500,True
79740,9/7/2002 24:00,portsmouth,oh,us,changing,900,15 minutes,A bright red light hoovering in the sky.,2002-09-13,38.7316667,-82.997778,True
79759,9/7/2004 24:00,montrose,co,us,unknown,1200,20 minutes,Stationary object with three pulsating lights ...,2004-09-09,38.4783333,-107.875556,True
79942,9/8/2003 24:00,cedar rapids,ia,us,changing,900,15 min,WE SEEN IT,2003-09-17,42.0083333,-91.643889,True

In [55]:
ufos['datetime'] = ufos.datetime.apply(lambda x:  x.replace('24:', '00:'))

In [56]:
ufos.astype({'datetime': 'datetime64[ns]'})

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,bad_hour
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,2004-04-27,29.8830556,-97.941111,False
1,1949-10-10 21:00:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.38421,-98.581082,False
2,1955-10-10 17:00:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.2,-2.916667,False
3,1956-10-10 21:00:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17,28.9783333,-96.645833,False
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.4180556,-157.803611,False
5,1961-10-10 19:00:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,2007-04-27,36.5950000,-82.188889,False
6,1965-10-10 21:00:00,penarth (uk/wales),NaN,gb,circle,180,about 3 mins,penarth uk circle 3mins stayed 30ft above m...,2006-02-14,51.434722,-3.180000,False
7,1965-10-10 23:45:00,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,1999-10-02,41.1175000,-73.408333,False
8,1966-10-10 20:00:00,pell city,al,us,disk,180,3 minutes,Strobe Lighted disk shape object observed clos...,2009-03-19,33.5861111,-86.286111,False
9,1966-10-10 21:00:00,live oak,fl,us,disk,120,several minutes,Saucer zaps energy from powerline as my pregna...,2005-05-11,30.2947222,-82.984167,False
10,1968-10-10 13:00:00,hawthorne,ca,us,circle,300,5 min.,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...,2003-10-31,33.9163889,-118.351667,False
11,1968-10-10 19:00:00,brevard,nc,us,fireball,180,3 minutes,silent red /orange mass of energy floated by t...,2008-06-12,35.2333333,-82.734444,False
12,1970-10-10 16:00:00,bellmore,ny,us,disk,1800,30 min.,silver disc seen by family and neighbors,2000-05-11,40.6686111,-73.527500,False
13,1970-10-10 19:00:00,manchester,ky,us,unknown,180,3 minutes,Slow moving&#44 silent craft accelerated at an...,2008-02-14,37.1536111,-83.761944,False
14,1971-10-10 21:00:00,lexington,nc,us,oval,30,30 seconds,green oval shaped light over my local church&#...,2010-02-14,35.8238889,-80.253611,False
15,1972-10-10 19:00:00,harlan county,ky,us,circle,1200,20minutes,On october 10&#44 1972 myself&#44my 5yrs.daugh...,2005-09-15,36.8430556,-83.321944,False
16,1972-10-10 22:30:00,west bloomfield,mi,us,disk,120,2 minutes,The UFO was so close&#44 my battery in the car...,2007-08-14,42.5377778,-83.233056,False
17,1973-10-10 19:00:00,niantic,ct,us,disk,1800,20-30 min,Oh&#44 what a night &#33 Two (2) saucer-shape...,2003-09-24,41.3252778,-72.193611,False
18,1973-10-10 23:00:00,bermuda nas,NaN,NaN,light,20,20 sec.,saw fast moving blip on the radar scope thin w...,2002-01-11,32.364167,-64.678611,False
19,1974-10-10 19:30:00,hudson,ma,us,other,2700,45 minutes,Not sure of the eact month or year of this sig...,1999-08-10,42.3916667,-71.566667,False
20,1974-10-10 21:30:00,cardiff (uk/wales),NaN,gb,disk,1200,20 minutes,back in 1974 I was 19 at the time and lived i...,2007-02-01,51.5,-3.200000,False
21,1974-10-10 23:00:00,hudson,ks,us,light,1200,one hour?,The light chased us.,2004-07-25,38.1055556,-98.659722,False
22,1975-10-10 17:00:00,north charleston,sc,us,light,360,5-6 minutes,Several Flashing UFO lights over Charleston Na...,2008-02-14,32.8544444,-79.975000,False
23,1976-10-10 20:30:00,washougal,wa,us,oval,60,1 minute,Three extremely large lights hanging above nea...,2014-02-07,45.5827778,-122.352222,False
24,1976-10-10 22:00:00,stoke mandeville (uk/england),NaN,gb,cigar,3,3 seconds,White object over Buckinghamshire UK.,2009-12-12,51.783333,-0.783333,False
25,1977-10-10 12:00:00,san antonio,tx,us,other,30,30 seconds,i was about six or seven and my family and me ...,2005-02-24,29.4238889,-98.493333,False
26,1977-10-10 22:00:00,louisville,ky,us,light,30,approx: 30 seconds,HBCCUFO CANADIAN REPORT: Pilot Sighting Of Un...,2004-03-17,38.2541667,-85.759444,False
27,1978-10-10 02:00:00,elmont,ny,us,rectangle,300,5min,A memory I will never forget that happened men...,2007-02-01,40.7008333,-73.713333,False
28,1979-10-10 00:00:00,poughkeepsie,ny,us,chevron,900,15 minutes,1/4 moon-like&#44 its &#39chord&#39 or flat s...,2005-04-16,41.7002778,-73.921389,False
29,1979-10-10 22:00:00,saddle lake (canada),ab,NaN,triangle,270,4.5 or more min.,Lights far above&#44 that glance; then flee f...,2005-01-19,53.970571,-111.689885,False
...,...,...,...,...,...,...,...,...,...,...,...,...
80302,2012-09-09 20:00:00,wilson,nc,us,light,10800,3 hours,Bright orb being chased by a jet along with se...,2012-09-24,35.7211111,-77.915833,False
80303,2012-09-09 20:10:00,elmont,ny,us,circle,600,10 minutes,Orange lights seen in Elmont&#44 Long Island&#...,2012-09-24,40.7008333,-73.713333,False
80304,2012-09-09 20:30:00,mt. juliet,tn,us,light,120,2 minutes,Bright white light moving slowly across sky wi...,2012-09-24,36.2000000,-86.518611,False
80305,2012-09-09 20:30:00,ventura,ca,us,chevron,900,15 minutes,Beautiful bright blue delta shaped aerobatics.,2012-09-24,34.2783333,-119.292222,False
80306,2012-09-09 20:52:00,south jordan,ut,us,circle,10,10 seconds,Circular disk with blinking lights scares two ...,2012-09-24,40.5622222,-111.928889,False
80307,2012-09-09 21:00:00,elkhart,in,us,oval,600,10 minutes,It was the night of sept 9 between 9 and 10 pm...,2012-09-24,41.6819444,-85.976667,False
80308,2012-09-09 21:00:00,new york city (brooklyn),ny,us,light,1290,21:30,Glowing&#44 circular lights visible in the clo...,2012-09-24,40.7141667,-74.006389,False
80309,2012-09-09 21:00:00,pawleys island,sc,us,oval,60,less than a minute,One large bright orange flanked by three small...,2012-09-24,33.4330556,-79.121667,False
80310,2012-09-09 21:00:00,ventura,ca,us,circle,300,5 minutes,Bright Blue Object seen floating in sky near C...,2012-09-24,34.2783333,-119.292222,False
80311,2012-09-09 21:55:00,charleston,sc,us,flash,900,15 minutes,Orb of light flashing reds and blues&#44 stati...,2012-09-24,32.7763889,-79.931111,False
80312,2012-09-09 23:00:00,gainesville,ga,us,light,5,5 seconds,Ball of light,2012-09-24,34.2977778,-83.824167,False
80313,2013-09-09 00:15:00,norfolk,va,us,unknown,1,split second,Two or three lights shoot across sky over nava...,2013-09-30,36.8466667,-76.285556,False
80314,2013-09-09 01:50:00,buffalo (west of; on highway 90 west),ny,us,triangle,180,3 minutes,Massive Flat Black triangle with 3 red lights.,2013-09-30,42.8863889,-78.878611,False
80315,2013-09-09 03:00:00,struthers,oh,us,unknown,120,2 minutes,I saw a routaing line of stares that seemed to...,2013-09-09,41.0525000,-80.608056,False
80316,2013-09-09 09:51:00,san diego,ca,us,light,4,~4 seconds,2 white lights zig-zag over Qualcomm Stadium (...,2013-09-30,32.7152778,-117.156389,False
80317,2013-09-09 12:34:00,cedar park,tx,us,cigar,8,5-8 seconds,Cigar Shaped Object Descending in the Directio...,2013-09-09,30.5050000,-97.820000,False
80318,2013-09-09 13:10:00,calmar (canada),ab,ca,unknown,90,45-90 seconds,Fastest dot I have ever seen in the sky&#33,2013-09-09,53.25,-113.783333,False
80319,2013-09-09 20:15:00,clifton,nj,NaN,other,3600,~1hr+,Luminous line seen in New Jersey sky.,2013-09-30,40.858433,-74.163755,False
80320,2013-09-09 20:20:00,tuscaloosa,al,us,fireball,60,1:00,White/green object much larger than &quot;shoo...,2013-09-30,33.2097222,-87.569167,False
80321,2013-09-09 20:21:00,clarksville,tn,us,fireball,3,3 seconds,Green fireball like object shooting across the...,2013-09-30,36.5297222,-87.359444,False
80322,2013-09-09 21:00:00,aleksandrow (poland),NaN,NaN,light,15,15 seconds,Two points of light following one another in a...,2013-09-30,50.465843,22.891814,False
80323,2013-09-09 21:00:00,gainesville,fl,us,triangle,60,1 minute,Three lights in the sky that didn&#39t look li...,2013-09-30,29.6513889,-82.325000,False
80324,2013-09-09 21:00:00,hamstead (hollyridge),nc,NaN,light,120,2 minutes,8 to ten lights bright orange in color large t...,2013-09-30,34.367594,-77.710548,False
80325,2013-09-09 21:00:00,milton (canada),on,ca,fireball,180,3 minutes,Massive Bright Orange Fireball in Sky,2013-09-30,46.3,-63.216667,False
80326,2013-09-09 21:00:00,woodstock,ga,us,sphere,20,20 seconds,Driving 575 at 21:00 hrs saw a white and green...,2013-09-30,34.1013889,-84.519444,False
80327,2013-09-09 21:15:00,nashville,tn,us,light,600,10 minutes,Round from the distance/slowly changing colors...,2013-09-30,36.1658333,-86.784444,False
80328,2013-09-09 22:00:00,boise,id,us,circle,1200,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,2013-09-30,43.6136111,-116.202500,False
80329,2013-09-09 22:00:00,napa,ca,us,other,1200,hour,Napa UFO&#44,2013-09-30,38.2972222,-122.284444,False
80330,2013-09-09 22:20:00,vienna,va,us,circle,5,5 seconds,Saw a five gold lit cicular craft moving fastl...,2013-09-30,38.9011111,-77.265556,False
80331,2013-09-09 23:00:00,edmond,ok,us,cigar,1020,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,2013-09-30,35.6527778,-97.477778,False

In [57]:
ufos = ufos.astype({'datetime': 'datetime64[ns]'})

### Now we want to delete the bad column

Two ways:

In [59]:
ufos = ufos.drop(['bad_hour'], axis=1)
ufos

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,2004-04-27,29.8830556,-97.941111
1,1949-10-10 21:00:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.38421,-98.581082
2,1955-10-10 17:00:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.2,-2.916667
3,1956-10-10 21:00:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17,28.9783333,-96.645833
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.4180556,-157.803611
5,1961-10-10 19:00:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,2007-04-27,36.5950000,-82.188889
6,1965-10-10 21:00:00,penarth (uk/wales),NaN,gb,circle,180,about 3 mins,penarth uk circle 3mins stayed 30ft above m...,2006-02-14,51.434722,-3.180000
7,1965-10-10 23:45:00,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,1999-10-02,41.1175000,-73.408333
8,1966-10-10 20:00:00,pell city,al,us,disk,180,3 minutes,Strobe Lighted disk shape object observed clos...,2009-03-19,33.5861111,-86.286111
9,1966-10-10 21:00:00,live oak,fl,us,disk,120,several minutes,Saucer zaps energy from powerline as my pregna...,2005-05-11,30.2947222,-82.984167
10,1968-10-10 13:00:00,hawthorne,ca,us,circle,300,5 min.,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...,2003-10-31,33.9163889,-118.351667
11,1968-10-10 19:00:00,brevard,nc,us,fireball,180,3 minutes,silent red /orange mass of energy floated by t...,2008-06-12,35.2333333,-82.734444
12,1970-10-10 16:00:00,bellmore,ny,us,disk,1800,30 min.,silver disc seen by family and neighbors,2000-05-11,40.6686111,-73.527500
13,1970-10-10 19:00:00,manchester,ky,us,unknown,180,3 minutes,Slow moving&#44 silent craft accelerated at an...,2008-02-14,37.1536111,-83.761944
14,1971-10-10 21:00:00,lexington,nc,us,oval,30,30 seconds,green oval shaped light over my local church&#...,2010-02-14,35.8238889,-80.253611
15,1972-10-10 19:00:00,harlan county,ky,us,circle,1200,20minutes,On october 10&#44 1972 myself&#44my 5yrs.daugh...,2005-09-15,36.8430556,-83.321944
16,1972-10-10 22:30:00,west bloomfield,mi,us,disk,120,2 minutes,The UFO was so close&#44 my battery in the car...,2007-08-14,42.5377778,-83.233056
17,1973-10-10 19:00:00,niantic,ct,us,disk,1800,20-30 min,Oh&#44 what a night &#33 Two (2) saucer-shape...,2003-09-24,41.3252778,-72.193611
18,1973-10-10 23:00:00,bermuda nas,NaN,NaN,light,20,20 sec.,saw fast moving blip on the radar scope thin w...,2002-01-11,32.364167,-64.678611
19,1974-10-10 19:30:00,hudson,ma,us,other,2700,45 minutes,Not sure of the eact month or year of this sig...,1999-08-10,42.3916667,-71.566667
20,1974-10-10 21:30:00,cardiff (uk/wales),NaN,gb,disk,1200,20 minutes,back in 1974 I was 19 at the time and lived i...,2007-02-01,51.5,-3.200000
21,1974-10-10 23:00:00,hudson,ks,us,light,1200,one hour?,The light chased us.,2004-07-25,38.1055556,-98.659722
22,1975-10-10 17:00:00,north charleston,sc,us,light,360,5-6 minutes,Several Flashing UFO lights over Charleston Na...,2008-02-14,32.8544444,-79.975000
23,1976-10-10 20:30:00,washougal,wa,us,oval,60,1 minute,Three extremely large lights hanging above nea...,2014-02-07,45.5827778,-122.352222
24,1976-10-10 22:00:00,stoke mandeville (uk/england),NaN,gb,cigar,3,3 seconds,White object over Buckinghamshire UK.,2009-12-12,51.783333,-0.783333
25,1977-10-10 12:00:00,san antonio,tx,us,other,30,30 seconds,i was about six or seven and my family and me ...,2005-02-24,29.4238889,-98.493333
26,1977-10-10 22:00:00,louisville,ky,us,light,30,approx: 30 seconds,HBCCUFO CANADIAN REPORT: Pilot Sighting Of Un...,2004-03-17,38.2541667,-85.759444
27,1978-10-10 02:00:00,elmont,ny,us,rectangle,300,5min,A memory I will never forget that happened men...,2007-02-01,40.7008333,-73.713333
28,1979-10-10 00:00:00,poughkeepsie,ny,us,chevron,900,15 minutes,1/4 moon-like&#44 its &#39chord&#39 or flat s...,2005-04-16,41.7002778,-73.921389
29,1979-10-10 22:00:00,saddle lake (canada),ab,NaN,triangle,270,4.5 or more min.,Lights far above&#44 that glance; then flee f...,2005-01-19,53.970571,-111.689885
...,...,...,...,...,...,...,...,...,...,...,...
80302,2012-09-09 20:00:00,wilson,nc,us,light,10800,3 hours,Bright orb being chased by a jet along with se...,2012-09-24,35.7211111,-77.915833
80303,2012-09-09 20:10:00,elmont,ny,us,circle,600,10 minutes,Orange lights seen in Elmont&#44 Long Island&#...,2012-09-24,40.7008333,-73.713333
80304,2012-09-09 20:30:00,mt. juliet,tn,us,light,120,2 minutes,Bright white light moving slowly across sky wi...,2012-09-24,36.2000000,-86.518611
80305,2012-09-09 20:30:00,ventura,ca,us,chevron,900,15 minutes,Beautiful bright blue delta shaped aerobatics.,2012-09-24,34.2783333,-119.292222
80306,2012-09-09 20:52:00,south jordan,ut,us,circle,10,10 seconds,Circular disk with blinking lights scares two ...,2012-09-24,40.5622222,-111.928889
80307,2012-09-09 21:00:00,elkhart,in,us,oval,600,10 minutes,It was the night of sept 9 between 9 and 10 pm...,2012-09-24,41.6819444,-85.976667
80308,2012-09-09 21:00:00,new york city (brooklyn),ny,us,light,1290,21:30,Glowing&#44 circular lights visible in the clo...,2012-09-24,40.7141667,-74.006389
80309,2012-09-09 21:00:00,pawleys island,sc,us,oval,60,less than a minute,One large bright orange flanked by three small...,2012-09-24,33.4330556,-79.121667
80310,2012-09-09 21:00:00,ventura,ca,us,circle,300,5 minutes,Bright Blue Object seen floating in sky near C...,2012-09-24,34.2783333,-119.292222
80311,2012-09-09 21:55:00,charleston,sc,us,flash,900,15 minutes,Orb of light flashing reds and blues&#44 stati...,2012-09-24,32.7763889,-79.931111
80312,2012-09-09 23:00:00,gainesville,ga,us,light,5,5 seconds,Ball of light,2012-09-24,34.2977778,-83.824167
80313,2013-09-09 00:15:00,norfolk,va,us,unknown,1,split second,Two or three lights shoot across sky over nava...,2013-09-30,36.8466667,-76.285556
80314,2013-09-09 01:50:00,buffalo (west of; on highway 90 west),ny,us,triangle,180,3 minutes,Massive Flat Black triangle with 3 red lights.,2013-09-30,42.8863889,-78.878611
80315,2013-09-09 03:00:00,struthers,oh,us,unknown,120,2 minutes,I saw a routaing line of stares that seemed to...,2013-09-09,41.0525000,-80.608056
80316,2013-09-09 09:51:00,san diego,ca,us,light,4,~4 seconds,2 white lights zig-zag over Qualcomm Stadium (...,2013-09-30,32.7152778,-117.156389
80317,2013-09-09 12:34:00,cedar park,tx,us,cigar,8,5-8 seconds,Cigar Shaped Object Descending in the Directio...,2013-09-09,30.5050000,-97.820000
80318,2013-09-09 13:10:00,calmar (canada),ab,ca,unknown,90,45-90 seconds,Fastest dot I have ever seen in the sky&#33,2013-09-09,53.25,-113.783333
80319,2013-09-09 20:15:00,clifton,nj,NaN,other,3600,~1hr+,Luminous line seen in New Jersey sky.,2013-09-30,40.858433,-74.163755
80320,2013-09-09 20:20:00,tuscaloosa,al,us,fireball,60,1:00,White/green object much larger than &quot;shoo...,2013-09-30,33.2097222,-87.569167
80321,2013-09-09 20:21:00,clarksville,tn,us,fireball,3,3 seconds,Green fireball like object shooting across the...,2013-09-30,36.5297222,-87.359444
80322,2013-09-09 21:00:00,aleksandrow (poland),NaN,NaN,light,15,15 seconds,Two points of light following one another in a...,2013-09-30,50.465843,22.891814
80323,2013-09-09 21:00:00,gainesville,fl,us,triangle,60,1 minute,Three lights in the sky that didn&#39t look li...,2013-09-30,29.6513889,-82.325000
80324,2013-09-09 21:00:00,hamstead (hollyridge),nc,NaN,light,120,2 minutes,8 to ten lights bright orange in color large t...,2013-09-30,34.367594,-77.710548
80325,2013-09-09 21:00:00,milton (canada),on,ca,fireball,180,3 minutes,Massive Bright Orange Fireball in Sky,2013-09-30,46.3,-63.216667
80326,2013-09-09 21:00:00,woodstock,ga,us,sphere,20,20 seconds,Driving 575 at 21:00 hrs saw a white and green...,2013-09-30,34.1013889,-84.519444
80327,2013-09-09 21:15:00,nashville,tn,us,light,600,10 minutes,Round from the distance/slowly changing colors...,2013-09-30,36.1658333,-86.784444
80328,2013-09-09 22:00:00,boise,id,us,circle,1200,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,2013-09-30,43.6136111,-116.202500
80329,2013-09-09 22:00:00,napa,ca,us,other,1200,hour,Napa UFO&#44,2013-09-30,38.2972222,-122.284444
80330,2013-09-09 22:20:00,vienna,va,us,circle,5,5 seconds,Saw a five gold lit cicular craft moving fastl...,2013-09-30,38.9011111,-77.265556
80331,2013-09-09 23:00:00,edmond,ok,us,cigar,1020,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,2013-09-30,35.6527778,-97.477778

In [60]:
ufos.dtypes

datetime                datetime64[ns]
city                            object
state                           object
country                         object
shape                           object
duration (seconds)              object
duration (hours/min)            object
comments                        object
date posted             datetime64[ns]
latitude                        object
longitude                      float64
dtype: object

## Latitude

In [61]:
ufos.astype({'latitude': float })

ValueError: could not convert string to float: '33q.200088'

In [63]:
ufos[ufos['latitude'] == '33q.200088']

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
43782,1974-05-22 05:30:00,mescalero indian reservation,nm,NaN,rectangle,180,two hours,Huge rectangular object emmitting intense whit...,2012-04-18,33q.200088,-105.624152

In [64]:
ufos.shape

(80332, 11)

We can change that data but we don't know which the new data would be. This time we will remove it.

In [65]:
ufos.drop(43782).shape

(80331, 11)

In [66]:
ufos = ufos.drop(43782)

In [68]:
ufos = ufos.astype({'latitude': float})

In [ ]:
ufos['latitude'] = pd.to_numeric(ufos['latitude'], errors='coerce')

## duration_seconds

In [100]:
ufos.astype({'duration_seconds': 'float'})

ValueError: could not convert string to float: '2`'

In [101]:
ufos[ufos['duration_seconds'] == '2`']

,datetime,city,state,country,shape,duration_seconds,duration_hours_min),comments,date_posted,latitude,longitude
27822,2000-02-02 19:33:00,bouse,az,us,0,2`,each a few seconds,Driving through Plomosa Pass towards Bouse Loo...,2000-02-16,33.9325,-114.005

In [102]:
ufos.iloc[27822].

datetime                                             2000-02-02 19:33:00
city                                                               bouse
state                                                                 az
country                                                               us
shape                                                                  0
duration_seconds                                                      2`
duration_hours_min)                                   each a few seconds
comments               Driving through Plomosa Pass towards Bouse Loo...
date_posted                                          2000-02-16 00:00:00
latitude                                                         33.9325
longitude                                                       -114.005
Name: 27822, dtype: object

In [104]:
ufos.at[27822, 'duration_seconds'] = 2

In [105]:
ufos.astype({'duration_seconds': 'float'})

ValueError: could not convert string to float: '8`'

In [106]:
ufos[ufos['duration_seconds'] == '8`']

,datetime,city,state,country,shape,duration_seconds,duration_hours_min),comments,date_posted,latitude,longitude
35692,2005-04-10 22:52:00,santa cruz,ca,us,0,8`,eight seconds,2 red lights moving together and apart with a ...,2005-04-16,36.974167,-122.029722

In [107]:
ufos.at[35692, 'duration_seconds'] = 8

In [108]:
ufos.astype({'duration_seconds': 'float'})

ValueError: could not convert string to float: '0.5`'

We need to remove all the characters `

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.replace.html

In [114]:
ufos['duration_seconds'] = ufos['duration_seconds'].apply(lambda x: x.replace('`', ''))

AttributeError: 'int' object has no attribute 'replace'

In [115]:
ufos['duration_seconds'] = ufos['duration_seconds'].astype(str)

In [116]:
ufos['duration_seconds'] = ufos['duration_seconds'].apply(lambda x: x.replace('`', ''))

In [118]:
ufos = ufos.astype({'duration_seconds': 'float'})

In [119]:
ufos.dtypes

datetime               datetime64[ns]
city                           object
state                          object
country                        object
shape                          object
duration_seconds              float64
duration_hours_min)            object
comments                       object
date_posted            datetime64[ns]
latitude                      float64
longitude                     float64
dtype: object

# NAN values

In [77]:
ufos.isnull()

,datetime,city,state,country,shape,duration_seconds,duration_hours_min),comments,date_posted,latitude,longitude
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False
6,False,False,True,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False
18,False,False,True,True,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False
20,False,False,True,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False
24,False,False,True,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
80302,False,False,False,False,False,False,False,False,False,False,False
80303,False,False,False,False,False,False,False,False,False,False,False
80304,False,False,False,False,False,False,False,False,False,False,False
80305,False,False,False,False,False,False,False,False,False,False,False
80306,False,False,False,False,False,False,False,False,False,False,False
80307,False,False,False,False,False,False,False,False,False,False,False
80308,False,False,False,False,False,False,False,False,False,False,False
80309,False,False,False,False,False,False,False,False,False,False,False
80310,False,False,False,False,False,False,False,False,False,False,False
80311,False,False,False,False,False,False,False,False,False,False,False
80312,False,False,False,False,False,False,False,False,False,False,False
80313,False,False,False,False,False,False,False,False,False,False,False
80314,False,False,False,False,False,False,False,False,False,False,False
80315,False,False,False,False,False,False,False,False,False,False,False
80316,False,False,False,False,False,False,False,False,False,False,False
80317,False,False,False,False,False,False,False,False,False,False,False
80318,False,False,False,False,False,False,False,False,False,False,False
80319,False,False,False,True,False,False,False,False,False,False,False
80320,False,False,False,False,False,False,False,False,False,False,False
80321,False,False,False,False,False,False,False,False,False,False,False
80322,False,False,True,True,False,False,False,False,False,False,False
80323,False,False,False,False,False,False,False,False,False,False,False
80324,False,False,False,True,False,False,False,False,False,False,False
80325,False,False,False,False,False,False,False,False,False,False,False
80326,False,False,False,False,False,False,False,False,False,False,False
80327,False,False,False,False,False,False,False,False,False,False,False
80328,False,False,False,False,False,False,False,False,False,False,False
80329,False,False,False,False,False,False,False,False,False,False,False
80330,False,False,False,False,False,False,False,False,False,False,False
80331,False,False,False,False,False,False,False,False,False,False,False

#### Turn it into an array

In [76]:
ufos.isnull().values

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False,  True, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [78]:
ufos.isnull().values.any()

True

#### Which columns has Nan values?

In [80]:
ufos.isnull().sum()

datetime                  0
city                      0
state                  5797
country                9669
shape                  1932
duration_seconds          0
duration_hours_min)       0
comments                 15
date_posted               0
latitude                  0
longitude                 0
dtype: int64

What to do? Sometimes we will fill them with the mean, other times with a value. This time we will fill it with 0

In [82]:
ufos.fillna(value=0).isnull().sum()

datetime               0
city                   0
state                  0
country                0
shape                  0
duration_seconds       0
duration_hours_min)    0
comments               0
date_posted            0
latitude               0
longitude              0
dtype: int64

In [83]:
ufos = ufos.fillna(value=0)

Por ejemplo pensar qu hacemos con el 0. Si hay muchos de uno y pocos de otro pensar si quitarlos.

In [88]:
ufos.country.value_counts()

us    65114
0      9669
ca     3000
gb     1905
au      538
de      105
Name: country, dtype: int64

### It makes sense to set some different tags depending on the duration

Different ways:
* Equal width bins: the range for each bin is the same size.
* Equal frequency bins: approximately the same number of records in each bin.

In [92]:
ufos.head()

,datetime,city,state,country,shape,duration_seconds,duration_hours_min),comments,date_posted,latitude,longitude
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,2004-04-27,29.883056,-97.941111
1,1949-10-10 21:00:00,lackland afb,tx,0,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.384210,-98.581082
2,1955-10-10 17:00:00,chester (uk/england),0,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.200000,-2.916667
3,1956-10-10 21:00:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17,28.978333,-96.645833
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.418056,-157.803611

In [93]:
labels = ['Very Low', 'Low', 'Moderate', 'High', 'Very High']

In [122]:
ufos['duration_seconds_interval'] = pd.cut(ufos['duration_seconds'], 5, labels = labels)

In [123]:
ufos.head()

,datetime,city,state,country,shape,duration_seconds,duration_hours_min),comments,date_posted,latitude,longitude,duration_seconds_interval
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,2004-04-27,29.883056,-97.941111,Very Low
1,1949-10-10 21:00:00,lackland afb,tx,0,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.384210,-98.581082,Very Low
2,1955-10-10 17:00:00,chester (uk/england),0,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.200000,-2.916667,Very Low
3,1956-10-10 21:00:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17,28.978333,-96.645833,Very Low
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.418056,-157.803611,Very Low

In [127]:
pd.cut(ufos['duration_seconds'], 5).value_counts()

(-97835.999, 19567200.001]      80324
(39134400.001, 58701600.0]          3
(78268800.0, 97836000.0]            2
(58701600.0, 78268800.0]            1
(19567200.001, 39134400.001]        1
Name: duration_seconds, dtype: int64

In [128]:
pd.qcut(ufos['duration_seconds'], 5).value_counts()

(20.0, 120.0]          19717
(0.0, 20.0]            17760
(120.0, 300.0]         15954
(900.0, 97836000.0]    13874
(300.0, 900.0]         13026
Name: duration_seconds, dtype: int64