The Google Custom Search API only returns 10 results max in each query. So you need to iterate in your code in making requests with different `start` parameter (e.g., `1`, `11`, `21`, `31`, etc.) in order to retrieve up to 100 search results.*

For the Google Custom Search API reference, see: https://developers.google.com/custom-search/json-api/v1/reference/cse/list

In [2]:
import mysql.connector
from mysql.connector import Error

import requests
import json
import pandas as pd

google_api = "https://www.googleapis.com/customsearch/v1"

search_queries = ["madrid", "barcelona", "berlin", "paris", "miami", "mexico", "amsterdam", "são paulo"]


# Import or paste here the function you wrote in Q2
def call_google_api(q, start, 
                    key="AIzaSyDeDEXWk7bq0r0GYzz-Pmc6dWqRGVxJ2Zc", 
                    cx="003240156206868727193:scrr7eqktoy",
                    fields="kind,items(title,link,snippet),queries(request(title,totalResults,count,startIndex))"):
    # call Google API with the parameters and obtain the JSON response
    params = {"key": key, "cx": cx, "fields": fields, "q": q, "start": start}
    response = requests.get(google_api, params=params)
    
    # convert the JSON response to a dictionary and return
    return response.json()

# Iterate `search_queries` and obtain the search results using your function. Save the search results and the corresponding search query in the database tables.

In [3]:
def save_all_cities(list_cities, conn, save_function):
    for city in list_cities:
        save_city(city, save_function)

In [4]:
def save_city(city, save_function):
    for bulk in range(1, 100, 10):
        save_bulk_city(city, bulk, save_function)

In [5]:
def save_bulk_city(city, bulk, save_function):
    bulk_result = call_google_api(q=city, start=bulk)
    if "items" in bulk_result.keys():
        save_bulk(city, bulk_result, save_function)

In [6]:
def save_bulk(city, bulk_result, save_function):
    for item in bulk_result["items"]:
        save_function(conn, city, item)

In [7]:
def save_one_item(conn, city, item):
    cursor = conn.cursor()
    try:
        query = 'INSERT INTO search_results VALUES (%s,%s,%s,%s)'
        cursor.execute(query, (
            item["snippet"], 
            item["link"],
            item["title"],
            city
        ))
        conn.commit()
        return cursor.rowcount
    except Error as error:
        raise Exception("There was an error inserting data with title: {title} and city: {city}".format(title=item["title"], city=city), error)

Now I just define the list with the cities I want to retrieve information from, create the connection with my local database, and launch.

In [8]:
cities = ["madrid", "barcelona", "berlin", "paris", "miami", "mexico", "amsterdam", "são paulo"]

In [9]:
conn = mysql.connector.connect(host='35.239.232.23', database='ironhack_web', user='root', password='adminClaudia')
save_all_cities(cities, conn, save_one_item)

ProgrammingError: 1045 (28000): Access denied for user 'root'@'88.1.75.187' (using password: YES)

Now I am saving the data in my own structure, as defined below:

 ```sql 
 CREATE TABLE `cities` (
   `id` bigint AUTO_INCREMENT PRIMARY KEY,
   `name` varchar(32)  CHARACTER SET utf8mb4 UNIQUE NOT NULL
 ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
 
  CREATE TABLE `web_data` (
   `id` int AUTO_INCREMENT PRIMARY KEY,
   `snippet` text CHARACTER SET utf8mb4 NOT NULL,
   `link` varchar(255)  CHARACTER SET utf8mb4 NOT NULL,
   `title` varchar(255)  CHARACTER SET utf8mb4 NOT NULL,
   `city_id` bigint NOT NULL,
   FOREIGN KEY (city_id) REFERENCES cities(id)
 ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci ```

To save the data I only need to use another ```save_one_item``` function:

In [10]:
def save_one_item_in_new_structure(conn, city, item):
    save_in_city_table(conn, city, item)
    save_in_web_data_table(conn, city, item)

In [14]:
def save_in_city_table(conn, city, item):
    cursor = conn.cursor()
    try:
        query = f'INSERT IGNORE INTO cities (name) VALUES ("{city}")'
        cursor.execute(query)
        conn.commit()
        return cursor.rowcount
    except Error as error:
        raise Exception("There was an error inserting data with city: {city}".format(city=city), error)

In [15]:
def save_in_web_data_table(conn, city, item):
    cursor = conn.cursor()
    city_id_query = f'SELECT id FROM cities where name="{city}"'
    city_id = pd.read_sql(city_id_query, conn)["id"].values[0]
    try:
        query = "INSERT INTO web_data (snippet, link, title, city_id) VALUES (%s, %s, %s, %s)"
        cursor.execute(query, (            
            item["snippet"], 
            item["link"],
            item["title"],
            str(city_id)
        ))
        conn.commit()
        return cursor.rowcount
    except Error as error:
        raise Exception("There was an error inserting data with city: {city}".format(city=city), error)

In [16]:
conn = mysql.connector.connect(host='35.239.232.23', database='ironhack_web', user='root', password='adminClaudia')
save_all_cities(cities, conn, save_one_item_in_new_structure)