In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import random

In [3]:
list_rolls = []
for roll in range(100):
    list_rolls.append(random.randint(1,6))

In [4]:
hundred = pd.DataFrame(list_rolls).reset_index()

In [5]:
hundred = hundred.rename(columns={hundred.columns[0] : 'roll', hundred.columns[1]: 'value'})

In [6]:
hundred.groupby('value').count()

       roll
value
1        14
2        15
3        20
4        22
5        17
6        12

In [135]:
hundred.to_csv('roll_the_dice_hundred.csv')

In [136]:
list_rolls_1000 = []
for roll in range(1000):
    list_rolls_1000.append(random.randint(1,6))

In [ ]:
list_rolls_1000 = pd.DataFrame(list_rolls_1000).reset_index()

In [23]:
thousand = pd.DataFrame(list_rolls_1000).reset_index()
thousand = thousand.rename(columns={thousand.columns[0] : 'roll', thousand.columns[1]: 'value'})
thousand.groupby('value').count()

       roll
value
1       175
2       167
3       175
4       168
5       149
6       166

In [156]:
thousand.to_csv('roll_the_dice_thousand.csv')